.register-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
  background: #fff;
}

.register-div {
  width: 50%;
  margin: auto;
}

.register-form {
  margin: 0 100px;
}

.register-form-control {
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 1px;
  box-sizing: border-box;
  margin-bottom: 1px;
  font-size: 16px;
}

.register-title {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin: 0 100px 50px;
}

.register-img {
  width: 50%;
  height: 100%;
}

.register-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.register-container button {
  margin: 6px;
}

.register-container input,
.register-container button {
  outline: none;
  border-radius: 5px;
}

.register-container input {
  width: 100%;
  display: flex;
  border: none;
  font-weight: 400;
  justify-content: center;
  background: #FFFFFF;
  letter-spacing: 0.5px;
  padding: 14px 20px;
  margin: 18px 0px;
  box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.6);
}

.register-button {
  width: 100%;
  color: #fff;
  font-weight: 500;
  display: flex;
  border: none;
  justify-content: center;
  background: #000000;
  letter-spacing: 0.5px;
  padding: 14px 64px;
  margin: 18px 0px;
  box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
}

.register-button:hover {
  font-weight: bold;
}

.register-button-google {
  width: 100%;
  color: #383838;
  font-weight: 500;
  display: flex;
  border: none;
  justify-content: center;
  letter-spacing: 0.5px;
  padding: 14px 64px;
  margin: 18px 0px;
  box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  background: #fff;
  border: 2px solid #4285F4;
}

.register-button-google:hover {
  font-weight: bolder;
}

.register-button-google-icon {
  margin: 0 10px;
}

.register-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media all and (max-width:720px) {
  .register-container button {
    display: block;
    font-size: 14px;
    width: 100%;
  }

  .register-div{
   width: 100%;
 }
}

@media screen and (max-width: 1274px) {
  .register-img {
    display: none;
  }

  .register-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100vh;
    align-items: center;
  }

  .register-div,
  .register-form,
  .register-title {
    margin: auto;
    margin: 0px 0px 30px;
    font-size: 20px;
  }

  .register-title {
    font-size: 18px;
   }

  .register-div{
   width: 70%;
 }

  .register-container input,
  .register-container button {
    font-size: 14px;
  }

  .register-button-google, .register-button {
    padding: 12px 4px;
  }

  .register-button-google-icon {   
    margin: 0 6px;
  }
}